header{
	background-color: yellow;
    width: 1280px;
    height: 89px;
    
    padding: 0px;
    margin: 0px;

}

body {
  font-size: 1,8em;
}

.container1{
	background-color: pink;
	align-content: left;
	width: 147px;
	height: 1200px;
}

a{
	text-decoration: none;
	color: black;
}

p {
  font-size: 15px;
  text-align: justify;

}

.parent {
  max-width: 18em;
  margin: 10 auto;
  transform: translate(170%, -60%) ;

}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: -70px;/*висота від контента(хедера)*/


}

.item {
  color: #000;
  flex: 1 1 40%;
  padding: 15px;
  margin: 5px;
  box-sizing: border-box;



}

.small {
  flex: 1 1 33%;
}

.billet {
  background:   #d4d4d4; /*цвет плашки*/
  height: 100%;/*незнаю*/
  width: 300%; /*незнаю*/
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
nav{
	background-color: ;
	width: 147px;
	margin:10px;
	padding: 20px;
	bottom: 0px;
    right: 0px;
	border-radius:10px;
	line-height: 30px;

}
.flex-box {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-box {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (min-width: 640px)
header .flex-box {
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.menu-holder-box {
    margin: 0 0 0 30px;
}
.logo{
  transform: translate(10%, -15px) ;
}
button{
  background-color: black;
  width: 148px;
  height: 41px;
  color: white;
  transform: translate(60%,-100%) ;
  border: 2px solid white;
  border-radius: 5px;
}
.d1 {background: ;}
.d1 input {
  width: 25%;
  height: 41px;
  padding-left: 10px;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
  transform: translate(90%,-180%) ;

}
.d1 button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 120px;
  height: 41px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transform: translate(110%,-180%) ;
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.flex{
  
  margin: 0 auto;
  overflow: hidden;
  width:1280px; 
  height:300px;
  border-radius: 5px;
   background-color:  #d4d4d4;
}
.wrapper{
  display: flex;
  margin-top: 20px;
  position: relative;
  transition: left 1s ease-in-out;



}
.box {
  color: #fff;
  flex: 0 0 20%;
  
}
.img{
  display: flex;
  border-radius: 5px;

 
}
img{
  border-radius: 5px;
  margin-top: 20px;
  position  : relative;
}
footer{
  width: 1270px;
  height: 263px;
  background-color:   #d4d4d4;
  margin-top: 20px;
  border-radius: 5px;
}
h2{
  transform: translate(5%, 5%);
}
h4{
  transform: translate(5%, 5%);
  line-height: 5px;
}

h3{
  transform: translate(20%, -570%);
}
.button{
  background-color: black; 
  transform: translate(190%, -700%);
  width: 250px;
  border:none;

}
.photo{
  transform: translate(300%, -700%);
}
.gallery{
  transform: translate(330%, -900%);
}
.profilephoto{
  transform: translate(800%, -480%);
}
.text{
  font-size: 14px;
  transform: translate(10%);
}
.word{
  font-size:14px;
  transform: translate(80%, -170%);
}
.picture{
  transform: translate(1450%, -550%);
}
.txt{
  transform: translate(20%, -470%);
}
.someclass{
  transform: translate(20%, -2600%);
}
.xx{
  transform: translate(20%, -2600%);
}
.xxx{
  transform: translate(20%, -2600%);
}
.xxxx{
  transform: translate(20%, -2600%);
}
.xxxxx{
  transform: translate(20%, -2600%);
}
.xxxxxx{
transform: translate(20%, -2600%);
}
.xxxxxxx{
  transform: translate(20%, -2600%);
}
/*.pic{
  transform: translate(130%, -100%);
  width:100px ;
  height:100px; */
}
.texto{
  font-size: 
}
.xc{
  transform: translate(1%, -700%);
  color: white;
  font-size: 40px;
  font-family: Avenir;
  letter-spacing: normal;
}
.xv{
  transform: translate(1%, -2200%);
  color: white;
}
.xb{
  transform: translate(50%, -950%);
  color: white;
  font-size: 40px;
  font-family: Avenir;
  letter-spacing: normal;
}
.xm{
transform: translate(50%, -2900%);
  color: white;

}
.button1{
  background-color: black; 
  transform: translate(10%, 40%);
  width: 250px;
  border:none;
}
.smart{
  width:150px ;
  height: 120px;
  position: absolute;
  transform: translate(-110%,-160%);
}
.sch{
  transform: translate(10%,600%);'


}
.rook{
 transform: translate(60%,600%); 
}
.schh{
   transform: translate(100%,600%); 
}
.rookm{
  transform: translate(140%,600%); 
}
.oncl{
 transform: translate(1290%,-395%); 
 width: 60px;
 border:none;
}
.clicki{
transform: translate(530%,-348%); 
background-color: white;
border: none;
color: black;

}

.onki{
  transform: translate(1000%,-335%); 
  border: none;
  width: 80px;
}
.vata{
  width:1200px ;
  height:15px ;
  border-radius: 5px;
  transform: translate(25%,-1185%); 

}